:root {
  --blue: #1671C5;
  --green: #23D76B;
  --red: 	#D73823;
  --background: #5B5B5B;
  --shapes: #343434;
  --text-title: #E9E9E9;
  --text: #B8B8B8;
  --text-light: #B8B8B8;
}

html {
  background: #1F1F1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}